[Unit]
Description=service to detect and kill fork-bombs

[Service]
Type=notify
TimeoutStartSec=10
ExecStart=/usr/bin/forkbomb-killer
#Environment=LOGGER=info

[Install]
WantedBy=multi-user.target
